.wrapper {
  display: flex;
}
/* 以下サイド画面 */

.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  background-color: #253141;
  justify-content: space-between;
  align-items: center;
}

.user_name a {
  font-size: 16px;
  background-color: #253141;
  color: #fafafa;
  text-decoration: none;
}

.make_room a {
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms {
  background-color: #2f3e51;
  width: 300px;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room_name {
  text-decoration: none;
  color: white;
}

/* 以下チャット画面 */

.chat {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
}
.chat-main {
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding-top: 46px 40px 0;
}
.chat-footer {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}
